#home-page {
    width: 100vw;
    height: 100vh;
    color: white;
}
#home-page-landing {
   
    height: 100vh;
    width: 100vw;
    background-image: url("src/assets/myart.png");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
#landing-left {
    display:flex;
    justify-content: center;
    align-items: center;
}
#landing-left-content{
    text-align: center;
    padding: 1em 1em 1em 7em;
    

}
#landing-left-content h1 {
font-size: 5em;
}
#landing-left-content p {
font-size: 3em;
}
#landing-left-content button {
font-size: 2em;
padding: .5em;
}
