<mat-card>
    <mat-card-header>
    <mat-card-title>Because He lives</mat-card-title>
    <mat-card-subtitle>Unknown</mat-card-subtitle>
    </mat-card-header>
    
 
    <mat-card-actions>
    <mat-icon class="action-item" color="warn">chat_bubble_outline</mat-icon>
    <mat-icon class="action-item" color="warn">favorite_border</mat-icon>
    <mat-icon class="action-item" color="warn">save</mat-icon>
    </mat-card-actions></mat-card>
    <div id = "post">
        <button mat-fab color="warn" id="post-button"(click)="onCreatePostClick()">
       <mat-icon>add</mat-icon>
    </button>
    
    </div>  