<mat-card>
    <mat-card-header>
        <mat-card-title>Create Quote</mat-card-title>
    </mat-card-header>
    <div>    
    <textarea
    placeholder="Type Quote..." matInput required [(ngModel)]="quote" autocomplete="off"class="form-control mb10" id="quote" [value]="quote" (change)="valuechange()"></textarea>
    <input type="text" matInput required [(ngModel)]="author" autocomplete="off" placeholder="Author" class="form-control mb10" id="author" [value]="author" (change)="valuechange()">
    </div>
    <mat-card-actions align="end">
    <button mat-button color="warn">
  
    </button>
    <button type="submit" mat-flat-button color="warn" (click)="OnPost()">Post</button>
    </mat-card-actions>
</mat-card>